<!DOCTYPE html>
<html lang="vi">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.title }}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/article_detail.css' %}">

</head>
<body>

    <!-- Navbar -->
    {% include "components/navbar.html" %}

    <!-- Content -->
    <div class="container mt-5">
        <!-- Tiêu đề bài báo -->
        <h1 class="article-title text-center">{{ article.title }}</h1>

        <!-- Thông tin tác giả và thời gian đăng bài -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <p class="publish-date">{{ article.publish_date|date:"D, d M Y H:i:s" }}</p>
        </div>
        

        <div class="position-relative">
            {% if user.is_authenticated %}
                <form action="{% url 'add_to_reading_list' article.id %}" method="post" class="position-absolute top-0 end-0 p-3">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Đọc sau</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary position-absolute top-0 end-0 p-3 btn-small">Đọc sau</a>
            {% endif %}
        </div>

        <!-- Hiển thị ảnh bài báo -->
        {% if image_url %}
            <div class="image-container mb-4">
                <img src="{{ image_url }}" alt="{{ article.title }}" class="img-news-fluid rounded shadow-lg">
            </div>
        {% else %}
            <p class="text-center text-warning">No image available</p>
        {% endif %}

        <!-- Phần nội dung bài báo -->
        <div class="article-text">
            {% for paragraph in paragraphs %}
                <p>{{ paragraph }}</p>
            {% endfor %}
        </div>

        <!-- Hiển thị 10 bài báo mới nhất -->
        <div class="latest-articles">
            <div class="row">
                {% for latest in latest_articles %}
                <div class="col-12 mb-4">
                    <div class="row article align-items-center">
                        <!-- Cột ảnh -->
                        <div class="col-md-4">
                            <a href="{% url 'article_detail' article_url=latest.link %}">
                                <img src="{{ latest.image_url }}" alt="{{ latest.title }}" class="img-fluid rounded shadow-sm">
                            </a>
                        </div>
                        <!-- Cột nội dung -->
                        <div class="col-md-8">
                            <a href="{% url 'article_detail' article_url=latest.link %}">
                                <h3 class="article-title">{{ latest.title }}</h3>
                            </a>
                            <p class="article-summary">{{ latest.summary }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        

    <!-- Footer -->
    <footer class="footer mt-5 text-center text-muted">
        <p>&copy; Bao News. All rights reserved.</p>
    </footer>

</body>
</html>