<!DOCTYPE html>
<html lang="vi">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin Mới Nhất</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<body>

    <!-- Navbar -->
    {% include "components/navbar.html" %}


    <!-- Content -->
    <div class="container">
        <div class="row">
            {% for article in articles %}
            <div class="col-md-4">
                <div class="article">
                    <h2>
                        <!-- Bọc cả ảnh và tiêu đề trong thẻ <a> để khi bấm vào ảnh hoặc tiêu đề, đều dẫn đến bài báo -->
                        <a class="article-title" href="{% url 'article_detail' article_url=article.link %}">
                            <!-- Hiển thị ảnh và bọc trong thẻ <a> để dẫn vào bài báo -->
                            <img src="{{ article.image_url }}" alt="{{ article.title }}" style="max-width: 100%; height: auto; border-radius: 8px; margin-bottom: 15px;">
                            {{ article.title }}
                        </a>
                    </h2>
                    <p class="article-summary">{{ article.summary }}</p>
                </div>


            </div>
            {% endfor %}
        </div>    
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Bao News. All rights reserved.</p>
        <p><a href="#">About Us</a> | <a href="#">Contact</a></p>
    </footer>

    <script>
        $(document).ready(function(){
            $('.article-title').click(function(){
                var articleLink = $(this).data('link');
                var contentDiv = $(this).next('.article-content');
        
                if (contentDiv.find('p').text() != '') {
                    contentDiv.toggle();
                    return;
                }
        
                var encodedArticleLink = encodeURIComponent(articleLink);
        
                $.ajax({
                    url: "/article-content/",  
                    method: "GET",  
                    data: { 'article_url': encodedArticleLink },  
                    success: function(response) {
                        contentDiv.find('p').text(response.content);  
                        contentDiv.toggle();  
                    },
                    error: function() {
                        contentDiv.find('p').text('Không thể tải nội dung.');  
                        contentDiv.toggle();
                    }
                });
            });
        });        
    </script>

</body>
</html>
